
.account{

  &-section{
    padding: 80px 0;

    @include BootstrapMaxWidthResponsive(1k){
      padding: 60px 0;
    }
    @include BootstrapMaxWidthResponsive(hd){
      padding: 40px 0;
    }
    @include BootstrapMaxWidthResponsive(lg){
      padding: 20px 0;
    }
  }

  &-sitetitle{
    padding-top: 40px;
    padding-bottom: 40px;

    @include BootstrapMaxWidthResponsive(1k){
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @include BootstrapMaxWidthResponsive(hd){
      //padding-bottom: 0;
    }
  }

  &-accounttypes{
    padding-top: 40px;
    position: relative;

    @include BootstrapMaxWidthResponsive(hd){
      padding-top: 20px;
    }
    @include BootstrapMaxWidthResponsive(xl){
      padding-top: 0;
    }
  }


  .component-featuresbox{
    padding-top: 80px;

    @include BootstrapMaxWidthResponsive(hd){
      padding-top: 60px;
    }
  }


}