
.component{

  &-siteaccounttypes{

    .accounttypes{

      &-icons{
        color: $site-clr-text-dark-pri;
        @include responsive-font-size(2.25rem);
        font-style: normal;
        font-weight: $var-custom-font-weight-bolder;
        line-height: 1;
        display: block;
        margin-top: 10px;
      }

      &-title{
        color: $site-clr-text-dark-pri;
        @include responsive-font-size(1.25rem);
        font-weight: $var-custom-font-weight-bold;
        line-height: 1;
        padding: 0;
        margin: 0;
        position: relative;
      }

    }

    .accounttypesboxowl{
      @include flexbox-display-flex();
      @include flexbox-flex-wrap(wrap);

      > li{
        @include flexbox-flex-basis(0);
        @include flexbox-flex-grow(1);
        min-width: 0;
        max-width: 100%;

        @include BootstrapMaxWidthResponsive(lg){
          @include flexbox-flex(0 0 calc(100% / 2));
          width: calc(100% / 2);
          max-width: 100%;
        }
      }

      &-content{
        padding: 50px;
        //height: 100%;

        @include BootstrapMaxWidthResponsive(1k){
          padding: 40px;
        }
        @include BootstrapMaxWidthResponsive(hd){
          padding: 30px;
        }
      }

      &-head{}

      &-list{
        @include responsive-font-size(1rem);
        line-height: 1.2;
        text-align: left;
        margin-top: 25px;
        padding-bottom: 30px;
        //min-height: 280px;

        li{
          position: relative;
          padding-left: 15px;
          margin: 10px 0;

          &:first-child{margin-top: 0;}
          &:last-child{margin-bottom: 0;}

          &::before{
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: $site-clr-cyan;
            top: 5px;
            left: 0;
            @include border-radius(50%);
          }
        }
      }

      &-btn{
        @include BootstrapMaxWidthResponsive(hd){
          height: 36px;
          font-size: 15px;
          line-height: 1.5;
        }
      }

    }

    .accounttypestable{
      margin: 0;

      thead tr th,
      tbody tr td{
        padding: 15px;
        line-height: 1.25;

        &:first-child{
          border-left: none;
          font-weight: 500;
        }
      }

      thead{
        tr{
          th{
            vertical-align: top;

            .accounttypes-title{
              margin-top: 10px;

              @include BootstrapMaxWidthResponsive(lg){
                margin-top: 5px;
              }
            }

            &.firsttitle{
              .accounttypes-title{
                font-size: 22px;
                font-weight: 700;
                margin-top: 5px;

                span{
                  font-size: 28px;
                  display: block;
                  margin-top: 5px;
                }
              }
            }
          }
        }
      }

      tbody{
        tr{

          &:nth-of-type(odd){
            @include border-radius(6px);

            td{
              &:first-child{
                @include border-radii(6px,0,0,6px);
              }
              &:last-child{
                @include border-radii(0,6px,6px,0);
              }
            }
          }

          @include BootstrapMaxWidthResponsive(xl){
            &:nth-of-type(odd){
              @include border-radius(3px);

              td{
                &:first-child{
                  @include border-radii(3px,0,0,3px);
                }
                &:last-child{
                  @include border-radii(0,3px,3px,0);
                }
              }
            }
          }

          td{}
        }
      }
    }
  }

  &-summarytable{
    .summarytable{

      &-tabnav{

        .nav{

          &-link{
            @include box-shadow(0 0 0 0 transparent);
            @include transition-multiple(box-shadow 0.15s ease-in-out);

            &:hover,
            &.active{
              @include box-shadow(0 0 15px 0 #cad5e6);
            }
          }
        }
      }

      &-tabcontent{
        background-color: $var-custom-body-bg;
        padding: 0 30px;
      }

      &-tablearea{}

      &-table{

        thead{
          tr{
            th{
              border-top-width: 0;
            }
          }
        }

        .btncell{
          width: 120px;

          .btn{
            display: block;
          }
        }

        tbody{
          tr{

            &:hover{
              .btn-light{
                color: $site-clr-white;
                background-color: $site-clr-green;
                border-color: $site-clr-green;
              }
            }

            td{
              &:first-child{
                font-weight: 500;
              }
            }
          }
        }

        tbody tr{

        }

        .btn-light{
          background-color: $site-clr-white;
          border-color: gainsboro;
          @include transition-multiple(background-color 0.15s ease-in-out);

          &:hover{
            color: $site-clr-white;
            background-color: $site-clr-green;
            border-color: $site-clr-green;
          }
        }
      }
    }
  }

  &-platformsxxx{

    &-row{
      @include flexbox-align-items(center);
    }

    &-cont{

      .sitetitle-xl{
        padding-right: 100px;

        .platreqbtns{
          margin-top: 30px;

          .btn{
            margin: 0 7px;
            min-width: 200px;

            &:first-child{margin-left: 0;}
            &:last-child{margin-right: 0;}
          }

          .rounded-pill{
            padding-left: 1.5rem;
            padding-right: 1.5rem;
          }

          .btn-outline-info{
            @include box-shadow(0 0 20px 0 transparentize($site-clr-cyan, 0.75));
          }
        }
      }
    }

    &-spec{

      .platspecbox{
        background-color: transparentize($var-custom-body-bg, 0.5);
        padding: 40px;
        min-height: 500px;
        @include box-shadow(0 0 50px 0 #e3e9f2);
        position: relative;
      }
    }
  }

  &-platformssec{
    //background-color: lighten($site-section-bgclr-grylight, 1%);
    background-color: $var-custom-body-bg;
    padding: 50px 0 0;
    position: relative;
    overflow: hidden;

    @include BootstrapMaxWidthResponsive(hd){
      padding: 30px 0 0;
    }

    &::after{
      content: "";
      width: 100%;
      height: 35px;
      background-color: $var-custom-body-bg;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &-row{
      @include flexbox-align-items(center);
      position: relative;
      z-index: 1;

      @include BootstrapMaxWidthResponsive(lg){
        display: block !important;
      }
    }

    &-cont{
      max-width: 600px;

      @include BootstrapMinWidthResponsive(lg){
        @include flexbox-flex-order(1);
      }
      @include BootstrapMaxWidthResponsive(xl){
        max-width: 500px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        max-width: none;
      }

      .sitetitle-xl{
        padding-right: 100px;
        padding-bottom: 60px;

        @include BootstrapMaxWidthResponsive(xl){
          padding-right: 0;
          padding-bottom: 20px;
        }
        @include BootstrapMaxWidthResponsive(lg){
          text-align: center;
        }

        .platreqbtns{
          margin-top: 30px;

          .btn{
            margin: 0 7px;
            min-width: 200px;

            &:first-child{margin-left: 0;}
            &:last-child{margin-right: 0;}

            &.rounded-pill{
              padding-left: 1.5rem;
              padding-right: 1.5rem;
            }

            &.btn-outline-info.active{
              @include box-shadow(0 0 20px 0 transparentize($site-clr-cyan, 0.75));
            }
          }
        }
      }
    }

    &-spec{

      @include BootstrapMinWidthResponsive(lg){
        @include flexbox-flex-order(2);
      }

      .platspecbox{

        @include BootstrapMaxWidthResponsive(lg){
          text-align: center;
          max-width: 400px;
          margin: 0 auto 30px;
        }

        &-img{
          display: block;
          margin: auto;
        }
      }
    }
  }

  &-featuresbox{

    .sitefeaturesv1{
      @include flexbox-display-flex();
      @include flexbox-flex-wrap(wrap);
      max-width: 1300px;
      margin: auto;

      > li{
        @include flexbox-flex(0 0 calc(100%/2));
        max-width: calc(100%/2);
        padding: 15px;

        &:nth-child(1),
        &:nth-child(4){

          > div::before{
            content: "";
            width: calc(50% - 20px);
            height: calc(50% - 20px);
            position: absolute;
            border-width: 0;
            border-style: solid;
            border-color: darken($site-clr-grylight, 5%);
            //border-color: $site-clr-cyan;
            //display: none;
          }

        }

        &:nth-child(1){

          > div::before{
            border-right-width: 2px;
            border-bottom-width: 2px;
            right: 0;
            bottom: 0;

            @include BootstrapMaxWidthResponsive(xl){
              right: -16px;
              bottom: -16px;
            }
          }

        }

        &:nth-child(4){

          > div::before{
            border-top-width: 2px;
            border-left-width: 2px;
            left: 0;
            top: 0;

            @include BootstrapMaxWidthResponsive(xl){
              left: -16px;
              top: -16px;
            }
          }
        }
      }

      &-box{
        padding: 35px 40px;
        height: 100%;
        position: relative;

        @include BootstrapMaxWidthResponsive(xl){
          padding: 20px 25px;
        }
        @include BootstrapMaxWidthResponsive(lg){
          padding: 10px 15px;
        }

        i[class*="icon"]{
          display: block;
          margin-bottom: 1rem;

          @include BootstrapMaxWidthResponsive(xl){
            margin-bottom: 0.5rem;
            @include scale(0.9);
          }
        }

        h3,h4,h5{
          color: $site-clr-text-dark-pri;
          @include responsive-font-size(1.3rem);
        }

        p{
          color: $site-clr-text-dark-sec;
          @include responsive-font-size(1rem);
          margin-top: 0.25rem;
        }

      }
    }

    .sitefeaturesv2{
      margin: 0;

      @include flexbox-display-flex();
      @include flexbox-flex-wrap(wrap);

      > li{
        @include flexbox-flex(0 0 calc(100%/3));
        max-width: calc(100%/3);
        padding: 15px;
      }

      &-box{
        padding: 0 40px;
        height: 100%;
        text-align: center;
        position: relative;

        i[class*="icon"]{
          display: block;
          margin: 0 auto 1rem;

          @include BootstrapMaxWidthResponsive(xl){
            margin-bottom: 0.5rem;
            @include scale(0.9);
          }
        }

        h3,h4,h5{
          color: $site-clr-text-dark-pri;
          @include responsive-font-size(1.3rem);
        }

        p{
          color: $site-clr-text-dark-sec;
          @include responsive-font-size(1rem);
          margin-top: 0.25rem;
        }

      }
    }

    .sitefeaturesv3{
      @include flexbox-display-flex();
      @include flexbox-flex-wrap(wrap);

      > li{
        @include flexbox-flex(0 0 calc(100%/4));
        max-width: calc(100%/4);
        padding: 15px;

        @include BootstrapMaxWidthResponsive(lg){
          @include flexbox-flex(0 0 calc(100%/2));
          max-width: calc(100%/2);
        }
      }

      &-box{
        background-color: lighten($site-section-bgclr-grylight, 1%);
        text-align: center;
        padding: 45px 50px;
        height: 100%;
        position: relative;
        @include border-radius(10px);

        @include BootstrapMaxWidthResponsive(xl){
          padding: 25px 20px;
        }

        i[class*="icon"]{
          display: block;
          margin: 0 auto 1rem;

          @include BootstrapMaxWidthResponsive(xl){
            margin-bottom: 0.5rem;
            @include scale(0.9);
          }
        }

        h3,h4,h5{
          color: $site-clr-text-dark-pri;
          @include responsive-font-size(1rem);
          margin: 0;
        }
      }
    }
  }

  &-aboutus{
    @include flexbox-flex(0);
    padding: 80px 0;

    @include BootstrapMaxWidthResponsive(1k){
      padding: 60px 0;
    }
    @include BootstrapMaxWidthResponsive(hd){
      padding: 50px 0;
    }
    @include BootstrapMaxWidthResponsive(xl){
      padding: 30px 0;
    }
    @include BootstrapMaxWidthResponsive(lg){
      padding-top: 15px;
    }

    > .container .row{
      @include flexbox-align-items(center);

      @include BootstrapMaxWidthResponsive(lg){
        @include flexbox-flex-direction(column);
      }
    }

    .aboutustxt{

      .sitetitle-xl{
        height: 100%;
        padding-right: 50px;

        @include BootstrapMaxWidthResponsive(xl){
          padding-right: 20px;
        }
        @include BootstrapMaxWidthResponsive(lg){
          padding-right: 0;
          text-align: center;
        }
      }

      .openaccountbtns{
        max-width: 600px;
        margin-top: 50px;
        padding-right: 50px;

        @include BootstrapMaxWidthResponsive(xl){
          margin-top: 20px;
          padding-right: 20px;
        }
        @include BootstrapMaxWidthResponsive(lg){
          max-width: 420px;
          padding-right: 0;
          margin: 15px auto;
          text-align: center;
        }
      }
    }

    .aboutusimg{
      max-width: 700px;

      @include BootstrapMaxWidthResponsive(hd){
        max-width: 600px;
      }
      @include BootstrapMaxWidthResponsive(xl){
        max-width: 480px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        max-width: 400px;
        margin-bottom: 30px;
      }
    }
  }

}