
.sectionwavebg{
  background-color: $var-custom-body-bg;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTIxLjA4OSIgaGVpZ2h0PSI2MDcuNTQyIiB2aWV3Qm94PSIwIDAgMTkyMS4wODkgNjA3LjU0MiI+DQogIDxwYXRoIGlkPSJXYXZlQmciIGQ9Ik0yOTE2LjI2MywxMjkzLjM0NHMtMjY0LjA2OS01MS44ODEtNDY4LjMxMy0zNi42LTM1Ni4wNTksMzcuMjM5LTUxMi41NTksNzMuNTcyYy04NS44NzUsMTkuOTM4LTE4MS45NTEsMzYuNS0yODEuOTMzLDM0Ljg1Ni0xMDcuNzg2LTEuNzc4LTIwNS41NDMtMjQuMzI5LTMxMC43MzctMzMuNjE5LTEyMy44NjYtMTAuOTM4LTM0Ny4yNDQsMTkuNC0zNDcuMjQ0LDE5LjRzLS4zLDM5NS4zNzgtLjMsNDQ4LjdjNjEuMDMxLDIxLjI1OSwxMzcuNjIsMzkuMTUyLDIxOC44MDcsNDUuNDU5LDE0Mi41NjIsMTEuMDc1LDI0MS45ODgtMS42ODUsMzg1LjgtNy41czI5MS4xMzUtMzUuMzI2LDQzNi40MS0zNy41OTNjMjQzLjg2MS0zLjgwNyw1MDEuODkxLjIwOCw4ODAuMDc1LDYxLjQ1OVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC05OTUuMTc0IC0xMjUzLjkyOCkiIGZpbGw9IiNmNmY5ZmYiLz4NCjwvc3ZnPg0K");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.openaccountbtns{
  @include flexbox-display-flex();
  @include flexbox-align-items(center);
  font-size: $var-custom-font-size-lg;

  > *{
    margin: 0 5px;

    &:first-child{
      margin-left: 0;
    }

    &:last-child{
      margin-right: 0;
    }
  }

  .btn{

    &-link{}

    &[class*="success"]{
      @include box-shadow(0 0 30px 0 transparentize($site-clr-green, 0.5));
    }
  }

  .rounded-pill{}
}

.platappdownbtns{
  @include flexbox-display-flex();

  .btn{
    margin: 0 7px;

    &-platdown{
      @include flexbox-display-flex();
      @include flexbox-align-items(center);
      min-width: 200px;
      height: auto;
      @include transition-multiple(none);
      padding-left: 1rem;
      padding-right: 1rem;

      i.platdownicon{
        width: 34px;
        height: 34px;

        @include BootstrapMaxWidthResponsive(hd){
          width: 30px;
          height: 30px;
        }
        @include BootstrapMaxWidthResponsive(xl){
          width: 28px;
          height: 28px;
          position: relative;
          right: -1px;
        }

        svg{
          fill: $site-clr-cyan;
        }
      }

      .platdowntext{
        line-height: 1.2;
        text-align: left;
        padding: 0 5px;

        @include BootstrapMaxWidthResponsive(xl){
          line-height: 1.1;
        }

        small, strong{
          display: block;
        }

        small{
          font-size: 0.75rem;
          font-weight: $var-custom-font-weight-normal;
          position: relative;
          bottom: -2px;
        }

        strong{
          font-size: 1rem;
        }

      }

      &:hover,
      &.active{

        i.platdownicon{
          svg{
            fill: $site-clr-white;
          }
        }

        p{
          small, strong{
            color: $site-clr-white;
          }
        }
      }
    }

    &[class*="info"]{
      &.active{
        @include box-shadow(0 0 30px 0 transparentize($site-clr-cyan, 0.75));
      }
    }
  }
}