
.home{

  &-accounttypes{
    background-color: $site-section-bgclr-grylight;
    padding: 200px 0 100px;
    margin-top: -185px;
    position: relative;
    overflow: hidden;

    &::before,
    &::after{
      content: "";
      width: 0;
      height: 0;
      background-clip: border-box;
      border-style: solid;
      position: absolute;
      right: 0;
    }

    &::before{
      background-color: $site-section-bgclr-grylight;
      border-width: 0 0 200px 100vw;
      border-color: transparent transparent transparent #f6f9ff;
      top: 0;
    }

    &::after{
      background-color: $var-custom-body-bg;
      border-width: 0 0 200px 100vw;
      border-color: transparent transparent transparent $site-section-bgclr-grylight;
      bottom: 0;
    }

    .sitetitle-xl{
      padding-bottom: 30px;
    }

    .component-siteaccounttypes{
      position: relative;
      z-index: 1;

      .accounttypesboxowl{

        > li{
          position: relative;

          &.active{
            background-color: $var-custom-body-bg;
            z-index: 1;
          }

          &:hover{
            .accounttypesboxowl{

              &-content::before{
                opacity: 1;
                top: -105px;
              }

              &-head{
                top: -15px;

                .accounttypes-icons{
                  margin-top: 2px;
                }
              }

              &-list{
                top: 10px;
              }

              &-btn{
                bottom: 0;
              }
            }
          }
        }

        &-head{
          position: relative;
          z-index: 1;
          top: 0;
          @include transition-multiple(top 0.3s ease-in-out);

          .accounttypes-icons{
            @include transition-multiple(margin 0.3s ease-in-out);
          }
        }

        &-content{
          background-color: transparentize($var-custom-body-bg, 0.5);
          @include box-shadow(0 0 50px 0 #e3e9f2);
          position: relative;
          overflow: hidden;

          &::before{
            content: "";
            background-color: #e4e9f4;
            width: 200%;
            height: 200px;
            top: -300px;
            left: -50%;
            position: absolute;
            opacity: 0;
            @include transition-multiple(opacity 0.3s ease-in-out, top 0.3s ease-in-out);
            @include rotate(-10);
          }
        }

        &-list{
          position: relative;
          top: 0;
          @include transition-multiple(top 0.3s ease-in-out);
        }

        &-btn{
          display: block;
          position: relative;
          bottom: -150px;
          @include transition-multiple(bottom 0.3s ease-in-out);
        }
      }
    }
  }

  &-summarytable{
    background-color: $var-custom-body-bg;
    padding: 40px 0;

    .sitetitle-xl{
      padding-bottom: 30px;
    }

    .component-summarytable{}

  }

  &-platformsxxx{
    padding: 100px 0 50px;
    position: relative;
    overflow: hidden;

    &::after{
      content: "";
      width: 0;
      height: 0;
      background-color: $var-custom-body-bg;
      background-clip: border-box;
      border-style: solid;
      border-width: 0 0 200px 100vw;
      border-color: transparent transparent $site-section-bgclr-grylight transparent;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .container{
      position: relative;
      z-index: 1;
    }
  }

  // Irfan

  &-features{
    background-color: $var-custom-body-bg;
    padding: 200px 0 50px;
    margin-top: -185px;
    position: relative;
    overflow: hidden;

    &::before{
      content: "";
      width: 0;
      height: 0;
      background-color: $var-custom-body-bg;
      background-clip: border-box;
      border-style: solid;
      border-width: 0 0 200px 100vw;
      border-color: transparent transparent transparent #f6f9ff;
      position: absolute;
      right: 0;
      top: 0;
    }

    .sitetitle-xl{
      padding-bottom: 30px;
    }

    .component-featuresbox{
      position: relative;
      z-index: 1;

      .sitefeaturesv1{}
    }
  }

  &-platforms{
    padding: 50px 0 0;
    position: relative;
    overflow: hidden;

    &::after{
      content: "";
      width: 100%;
      height: 35px;
      background-color: lighten($site-section-bgclr-grylight, 1%);
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &-row{
      @include flexbox-align-items(center);
      position: relative;
      z-index: 1;
    }

    &-cont{
      max-width: 600px;

      .sitetitle-xl{
        padding-right: 100px;
        padding-bottom: 40px;

        .platreqbtns{
          margin-top: 30px;

          .btn{
            margin: 0 7px;
            min-width: 200px;

            &:first-child{margin-left: 0;}
            &:last-child{margin-right: 0;}
          }

          .rounded-pill{
            padding-left: 1.5rem;
            padding-right: 1.5rem;
          }

          .btn-outline-info{
            @include box-shadow(0 0 20px 0 transparentize($global-clr-cyan, 0.75));
          }
        }
      }
    }

    &-spec{

      .platspecbox{

        &-img{
          display: block;
          margin: auto;
        }
      }
    }
  }

  &-news{
    background-color: lighten($site-section-bgclr-grylight, 1%);
    padding: 100px 0;
  }

  &-tradingtools{
    background-color: $var-custom-body-bg;
    padding: 100px 0;
    position: relative;

    .sitetitle-xl{
      padding-bottom: 40px;
    }
  }

  &-trademobile{
    padding: 50px 0;

    &-row{
      @include flexbox-align-items(center);
    }

    &-cont{
      max-width: 680px;

      .sitetitle-xl{
        padding-right: 100px;
        padding-bottom: 50px;

        .platappdownbtns{
          margin-top: 30px;
        }
      }
    }

    &-spec{

      .trademobilebox{

        &-img{
          display: block;
          margin: auto;
        }
      }
    }
  }

}