/* Components Variables Settings */
$openacc-bgclr-welcome:           #F1F3FF;
$openacc-bgclr-welcome-demo:      #7D8AD6;
$openacc-bgclr-welcome-live:      #74CBC1;
$openacc-bgclr-form:              $site-clr-white;
/* Components Variables Settings */


.openaccount{

  &-section{
    padding: 80px 0;

    @include BootstrapMaxWidthResponsive(1k){
      padding: 110px 0 60px !important;
    }
    @include BootstrapMaxWidthResponsive(xl){
      padding: 140px 0 40px !important;
    }
    @include BootstrapMaxWidthResponsive(lg){
      padding: 70px 0 40px !important;
    }
  }

  &-wrapper{
    background-color: $var-custom-body-bg;
    padding: 10px;
    position: relative;
    overflow: hidden;
    @include border-radius(10px);
    @include box-shadow(0 0 30px 0 #edf0ff);

    &-row{
      @include flexbox-display-flex();
      @include flexbox-justify-content(space-between);
      @include flexbox-align-items(center);
      height: 900px;

      @include BootstrapMaxWidthResponsive(1k){
        height: 700px;
      }
      @include BootstrapMaxWidthResponsive(hd){
        height: 670px;
      }
      @include BootstrapMaxWidthResponsive(xl){
        height: 625px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        height: 690px;
      }
      @include BootstrapMaxWidthResponsive(md){
        display: block !important;
        height: auto;
      }

      > div[class*="col"]{
        @include flexbox-display-flex();
        @include flexbox-flex-direction(column);
        @include flexbox-justify-content(center);
        @include flexbox-align-items(center);
        @include flexbox-flex-wrap(wrap);
        @include flexbox-flex-basis(0);
        @include flexbox-flex-grow(1);
        min-width: 0;
        max-width: 100%;
        height: 100%;
        @include border-radius(6px);
        @include transition-multiple(background-color 0.15s ease-in-out, transform .7s cubic-bezier(.77,0,.175,1))
      }
    }

    &.opendemoacc{

      .welcomeopendemoacc,
      .formopenliveacc{
        display: none;
      }

      @include BootstrapMinWidthResponsive(md){
        div[class*="welcomecol"]{
          background-color: $openacc-bgclr-welcome-demo;
          @include translateX(0);

          .btn-secondary{
            color: $openacc-bgclr-welcome-demo;

            &:hover{
              background-color: darken($openacc-bgclr-welcome-demo, 20%);
              border-color: darken($openacc-bgclr-welcome-demo, 20%);
            }
          }
        }
        div[class*="formcol"]{
          @include translateX(0);
        }
      }
    }

    &.openliveacc{
      .welcomeopenliveacc,
      .formopendemoacc{
        display: none;
      }

      @include BootstrapMinWidthResponsive(md){
        div[class*="welcomecol"]{
          background-color: $openacc-bgclr-welcome-live;
          @include translateX(100%);

          .btn-secondary{
            color: $openacc-bgclr-welcome-live;

            &:hover{
              background-color: darken($openacc-bgclr-welcome-live, 20%);
              border-color: darken($openacc-bgclr-welcome-live, 20%);
            }
          }
        }

        div[class*="formcol"]{
          @include translateX(-100%);
        }
      }
    }
  }

  &-welcomecol{
    background-color: $openacc-bgclr-welcome;
    position: relative;
    z-index: 1;

    @include BootstrapMaxWidthResponsive(md){
      display: none !important;
    }

    .welcomearea{
      padding: 50px;
      text-align: center;

      @include BootstrapMaxWidthResponsive(lg){
        padding: 30px;
      }

      .welcomeimg{
        margin-bottom: 50px;

        @include BootstrapMaxWidthResponsive(lg){
          margin-bottom: 30px;
        }
      }

      .welcomebtn{
        margin-top: 30px;

        .btn-secondary{
          color: black;
          background-color: $site-clr-white;
          border-color: $site-clr-white;

          &:hover{
            color: $site-clr-white;
            background-color: black;
            border-color: black;
          }
        }
      }

      .sitecontent-desc{}
    }
  }

  &-formcol{
    background-color: $openacc-bgclr-form;
    position: relative;
    z-index: 0;

    .formboxarea{
      width: 100%;
      padding: 75px 100px;

      @include BootstrapMaxWidthResponsive(1k){
        padding: 35px 50px;
      }
      @include BootstrapMaxWidthResponsive(xl){
        padding: 30px 30px 30px 20px;
      }
      @include BootstrapMaxWidthResponsive(md){
        padding: 20px;
      }

      .sitecontent-desc{
        margin-bottom: 30px;
      }

      .alertarea{}

      .formarea{
        .form-row.formbottom{
          @include flexbox-align-items(center);
          margin-top: 1.5rem;

          @include BootstrapMaxWidthResponsive(lg){
            .col-lg-auto{
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}