
.partners{

  &-section{
    padding: 80px 0;

    .sitetitle-xl{
      padding-top: 100px;
    }
  }

  &-whypartners{
    padding: 100px 0;

    .sitetitle-xl{
      padding-bottom: 60px;
    }

    .formarea{
      max-width: 1160px;
      margin: auto;

      .form-row.formbottom{
        @include flexbox-align-items(center);
        margin-top: 1.5rem;
      }
    }
  }

  &-exclusively{
    padding: 100px 0;

    .sitetitle-xl{
      padding-bottom: 40px;
    }
  }
}