
/* Components Variables Settings */
$headslider-clr:                  $site-clr-text-dark-pri;
$headslider-bgclr:                transparent;
/* Components Variables Settings */

.headslider{
  @include flexbox-display-flex();
  @include flexbox-align-items(center);
  @include flexbox-flex-direction(column);
  color: $headslider-clr;
  background-color: $headslider-bgclr;
  height: 750px;
  padding-top: 110px;
  position: relative;
  overflow: hidden;


  &::after{
    content: "";
    background-image: url(#{$path-img-url}/header/headchartmountains.svg);
    background-repeat: repeat-x;
    background-position: bottom 0 left 50%;
    background-size: 200% auto;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    @include animation-multi(HeadChartMountains 40s linear infinite);

    @include keyframes(HeadChartMountains){
      0%  {background-position-x: 0%;}
      to  {background-position-x: 200%;}
    }
  }

  &-wrp{
    @include flexbox-display-flex();
    @include flexbox-flex-direction(column);
    @include flexbox-justify-content(space-between);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  &-top{
    position: relative;
    height: 100%;
    z-index: 2;
  }

  &-bottom{
    position: relative;
    z-index: 2;
  }

  &-slider{
    height: 100%;
    padding-top: 150px;

    .headsliderowl{

      &-content{
        h1,h2,h3,h4,h5,h6{
          font-size: 2.25rem;
          line-height: 1.2;
          position: relative;
        }

        p{
          font-size: 1.25rem;
          line-height: 1.2;
          margin-top: 15px;
        }

        .sdrtitlevbig{
          display: block;
          font-size: 180%;
          line-height: 1;
        }
        .sdrtitlebig{
          display: block;
          font-size: 140%;
        }
        .sdrtitlesmall{
          display: block;
        }
      }
    }
  }
}