
/* Components Variables Settings */
$navmenu-mainclass:                     ".daphne";
$navmenu-clr:                           $site-clr-text-dark-pri;
$navmenu-clrhover:                      $site-clr-cyan;
$navmenu-headfontsize:                  1.1rem;
$navmenu-headlineheight:                1;
$navmenu-headfontweight:                $var-custom-font-weight-bold;
$navmenu-headborderclr:                 transparent;
$navmenu-headbgclr:                     transparent;

$navsubmenu-headclr:                    $site-clr-cyan;
$navsubmenu-headfontsize:               1rem;
$navsubmenu-headfontweight:             $var-custom-font-weight-bold;
$navsubmenu-navlinktxtclr:              $site-clr-text-dark-pri;
$navsubmenu-navlinkbgclr:               lighten($site-section-bgclr-grylight, 1%);
$navsubmenu-navlinktxtclrhover:         $site-clr-white;
$navsubmenu-navlinkbgclrhover:          $site-clr-cyan;
/* Components Variables Settings */

/* Components Variables Settings */
$navmenu-resp-width:                    "lg";
$navmenu-resp-navbg:                    #072b5d;
$navmenu-resp-navwidth:                 260px;
$navmenu-resp-transition:               0.7s cubic-bezier(.77,0,.175,1);
/* Components Variables Settings */

#{$navmenu-mainclass}{

  &-navbody{
    position: relative;
    @include transition-multiple(transform $navmenu-resp-transition);

    &::after{
      content: "";
      background-color: transparent;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      visibility: hidden;
      opacity: 0;
      @include transition-multiple(background 0.3s cubic-bezier(.77,0,.175,1), opacity 0.3s cubic-bezier(.77,0,.175,1));
    }

    &#{$navmenu-mainclass}-overlay{
      &::after{
        background-color: transparentize($global-clr-white, 0.1);
        z-index: 2;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &-navbar{
    background-color: $navmenu-headbgclr;
    color: $navmenu-clr;
    @include responsive-font-size($navmenu-headfontsize);
    font-weight: $navmenu-headfontweight;
    line-height: $navmenu-headlineheight;
    padding: 0;
    border-top: 1px solid transparentize($navmenu-headborderclr, 0.5);
    border-bottom: 1px solid transparentize($navmenu-headborderclr, 0.5);

    @include BootstrapMaxWidthResponsive($navmenu-resp-width){
      background-color: $navmenu-resp-navbg;
      width: #{$navmenu-resp-navwidth};
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      border: none;
      overflow-y: auto;
      z-index: 103;
      @include translateX(-#{$navmenu-resp-navwidth});
      @include border-radius(0);
      @include transition-multiple(transform $navmenu-resp-transition);
    }
  }

  &-nav{

    @include BootstrapMaxWidthResponsive($navmenu-resp-width){
      @include flexbox-flex-direction(column !important);
    }

    .nav{

      &-item{
        &.dropdown.show{
          background-color: transparentize($navmenu-headbgclr, 0.8);
        }
      }

      &-link{
        color: $navmenu-clr;
        padding: 10px 10px 2px;
        @include transition-multiple(color 0.15s ease-in-out);

        &:hover,
        &[aria-expanded="true"]{
          color: $navmenu-clrhover;
        }
      }

    }

    .dropdown{

      &-menu{
        min-width: max-content;
        margin: 0;
        padding: 0;
        border: none;
        left: -5px;
      }
    }

    &-dropdownmenu{
      background-color: transparent;
      padding-top: 20px !important;
    }

    &-megamenu{
      @include flexbox-display-flex();
      @include flexbox-justify-content(space-between);
      background-color: transparentize($var-custom-body-bg, 0.02);
      padding: 15px;
      @include border-radius(10px);
      @include box-shadow(0 0 20px 0 #e3e9f2);
      position: relative;

      &::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid $var-custom-body-bg;
        top: -12px;
        left: 25px;
      }

      &-col{
        @include flexbox-flex(0 0 auto);
        max-width: 100%;
        min-width: 180px;
        margin-right: 15px;

        &.colmultimenu{
          margin-right: 5px;
        }

        &:last-child{margin-right: 0;}

        h4{
          color: $navsubmenu-headclr;
          @include responsive-font-size($navsubmenu-headfontsize);
          font-weight: $navsubmenu-headfontweight;
          margin-bottom: 5px;
          margin-top: 5px;
        }
      }
    }

    &-submenulist{
      > li{
        padding: 0;
        margin: 5px 0;

        &:first-child{margin-top: 0;}
        &:last-child{margin-bottom: 0;}

        a{
          color: $navsubmenu-navlinktxtclr;
          background-color: $navsubmenu-navlinkbgclr;
          @include responsive-font-size($navsubmenu-headfontsize);
          font-weight: $navsubmenu-headfontweight;
          display: block;
          padding: 12px 15px;
          @include border-radius(4px);
          @include transition-multiple(color 0.15s ease-in-out, background 0.15s ease-in-out);

          &:hover{
            color: $navsubmenu-navlinktxtclrhover;
            background-color: $navsubmenu-navlinkbgclrhover;
          }
        }
      }
    }
  }

  &-mobile{
    display:none;

    @include BootstrapMaxWidthResponsive($navmenu-resp-width){
      @include flexbox-display-flex();
      @include flexbox-align-items(center);
      height: 40px;
      position: relative;
      cursor: pointer;

      .btnhamb{
        width: 30px;

        span,
        span::before,
        span::after{
          content: '';
          background: $site-clr-cyan;
          display: inline-block;
          height: 4px;
          width: 30px;
          position: absolute;
          @include border-radius(10px);
          @include transition-multiple(all $navmenu-resp-transition);
        }

        span::before{top: -9px;}
        span::after{bottom: -9px;}
      }
    }
  }

  &-overlay{
    overflow: hidden !important;
    position: fixed;
    @include translateX(#{$navmenu-resp-navwidth});

    #{$navmenu-mainclass}-menu{
      @include translateX(-#{$navmenu-resp-navwidth});
      @include transition-multiple(transform $navmenu-resp-transition);
    }

    @include BootstrapMaxWidthResponsive($navmenu-resp-width){

      #{$navmenu-mainclass}-navbar{
        @include translateX(-#{$navmenu-resp-navwidth});
        @include transition-multiple(transform $navmenu-resp-transition);
      }

      #{$navmenu-mainclass}-mobile{
        position: fixed;
        left: 15px;
        top: 10px;

        .btnhamb{
          span{background-color: transparent;}
          span,
          span::before,
          span::after{top: 0;}
          span::before{@include transform-multiple(rotate(45deg));}
          span::after{top: 10px;@include transform-multiple(translateY(-10px) rotate(-45deg));}
        }
      }
    }
  }
}