/* Components Variables Settings */
$headlogo-clr-black:              $site-clr-text-dark-pri;
$headlogo-clr-red:                $site-clr-red;
/* Components Variables Settings */

.header{
  width: 100%;
  background-color: transparent;
  padding: 50px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  @include box-shadow(0 0 0 0 transparent);
  @include transition-multiple(background 0.15s ease-in-out, padding 0.15s ease-in-out, box-shadow 0.15s ease-in-out);

  > .container .row{
    @include BootstrapMinWidthResponsive(xl){
      @include flexbox-align-items(flex-end);
    }
    @include BootstrapMaxWidthResponsive(xl){
      @include flexbox-justify-content(space-between);
    }
  }

  &-menubtn{
    display: none;

    @include BootstrapMinWidthResponsive(xl){
      @include flexbox-flex-order(1);
    }
    @include BootstrapMaxWidthResponsive(lg){
      display: block;
    }
  }

  &-logoarea{

    @include BootstrapMinWidthResponsive(xl){
      @include flexbox-flex-order(2);
    }

    .headlogo{
      display: block;
      margin-right: 1rem;
      padding-bottom: 5px;
      position: relative;

      @include BootstrapMaxWidthResponsive(hd){
        margin-right: 0;
      }

      &::before{
        content: attr(data-title);
        color: $site-clr-text-dark-sec;
        @include responsive-font-size(0.6rem);
        text-align: right;
        white-space: nowrap;
        position: absolute;
        width: 100%;
        height: 14px;
        right: 0;
        bottom: -5px;
        opacity: 1;
        @include transition-multiple(opacity 0.5s ease-in-out);
      }

      &-svg{
        width: 200px;
        height: auto;

        &-text{
          &-title{fill: $headlogo-clr-black;}
        }

        &-icon{
          &-black{fill: $headlogo-clr-black;}
          &-red{fill: $headlogo-clr-red;}
        }
      }
    }
  }

  &-navarea{

    @include BootstrapMinWidthResponsive(xl){
      @include flexbox-flex-order(3);
    }
    @include BootstrapMaxWidthResponsive(xl){
      margin-top: 20px;

      .navbar-nav{
        width: 100%;
        @include flexbox-justify-content(space-between);
      }
    }
  }

  &-userarea{

    @include BootstrapMinWidthResponsive(xl){
      @include flexbox-flex-order(4);
    }

    &-btns{
      text-align: right;

      > .btn{
        line-height: 1.4;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  &.headscroll{
    background-color: $var-custom-body-bg;
    padding: 30px 0;
    @include box-shadow(0 0 50px 0 #e3e9f2);

    #{$headerclassname}-logoarea{
      .headlogo{
        &::before{
          opacity: 0.5;
        }
      }
    }
  }

  + .noheadtitle{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTIwLjAwMSIgaGVpZ2h0PSIyNjQuNTQxIiB2aWV3Qm94PSIwIDAgMTkyMC4wMDEgMjY0LjU0MSI+DQogIDxwYXRoIGlkPSJQYXRoXzExNjExIiBkYXRhLW5hbWU9IlBhdGggMTE2MTEiIGQ9Ik0tMTQ2MC40MDksMjAwMC45MTljMzI0LjA1My0xMS40NTgsNDYxLjEsODMuMDkyLDY1MS4xNTksODMuMDkyLDE0NC43MTcsMCwyNzIuMjI5LTcxLjQ3MSw0MTMuNDc2LTcyLjE0MywxNTQuODQ4LS43MzcsMjYwLjg1LDgzLjMzNSwzOTguNzM4LDc3LjgxNCwxOTEuOTM2LTcuNjgzLDIzOC43LTcwLjM4Miw0NTYuNjI4LTcwLjkyN1YxODI1LjRoLTE5MjBaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNDYwLjQwOSAtMTgyNS40MDMpIiBmaWxsPSIjZjZmOWZmIi8+DQo8L3N2Zz4NCg==");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top -50px center;
    padding-top: 160px;
  }
}