/* Components Variables Settings */
$headlogo-clr-black:              $site-clr-text-dark-pri;
$headlogo-clr-red:                $site-clr-red;
/* Components Variables Settings */

.header{
  width: 100%;
  background-color: transparent;
  padding: 50px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  @include box-shadow(0 0 0 0 transparent);
  @include transition-multiple(background 0.15s ease-in-out, padding 0.15s ease-in-out, box-shadow 0.15s ease-in-out);

  @include BootstrapMaxWidthResponsive(1k){
    padding: 40px 0;
  }
  @include BootstrapMaxWidthResponsive(xl){
    padding: 30px 0;
  }
  @include BootstrapMaxWidthResponsive(lg){
    padding: 20px 0;
  }

  > .container .row{
    @include BootstrapMinWidthResponsive(xl){
      @include flexbox-align-items(flex-end);
    }
    @include BootstrapMaxWidthResponsive(xl){
      @include flexbox-justify-content(space-between);
    }
    @include BootstrapMaxWidthResponsive(lg){
      max-height: 32px;
    }
  }

  &-menubtn{
    display: none;
    position: relative;

    &::after{
      content: "";
      background-color: darken($site-clr-grylight, 5%);
      width: 2px;
      height: 100%;
      position: absolute;
      top: 0;
      right: -2px;
      @include border-radius(2px);
    }

    @include BootstrapMinWidthResponsive(xl){
      @include flexbox-flex-order(1);
    }
    @include BootstrapMaxWidthResponsive(lg){
      display: block;
    }
  }

  %extlogosvg {
    display: block;
    position: relative;

    .logosvg{
      width: 200px;
      height: auto;

      &-text{
        &-title{fill: $headlogo-clr-black;}
      }

      &-icon{
        &-black{fill: $headlogo-clr-black;}
        &-red{fill: $headlogo-clr-red;}
      }
    }
  }

  &-logoarea{
    opacity: 1;
    @include transition-multiple(opacity 0.7s cubic-bezier(.77,0,.175,1));

    @include BootstrapMinWidthResponsive(xl){
      @include flexbox-flex-order(2);
    }

    .headlogo{
      @extend %extlogosvg;
      margin-right: 1rem;
      padding-bottom: 5px;

      @include BootstrapMaxWidthResponsive(hd){
        margin-right: 0;
      }

      &::before{
        content: attr(data-title);
        color: $site-clr-text-dark-sec;
        @include responsive-font-size(0.6rem);
        text-align: right;
        white-space: nowrap;
        position: absolute;
        width: 100%;
        height: 14px;
        right: 0;
        bottom: -5px;
        opacity: 1;
        @include transition-multiple(opacity 0.5s ease-in-out);
      }
    }
  }

  &-navarea{

    @include BootstrapMinWidthResponsive(xl){
      @include flexbox-flex-order(3);
    }
    @include BootstrapMaxWidthResponsive(xl){
      margin-top: 10px;

      .navbar-nav{
        width: 100%;
        @include flexbox-justify-content(space-between);
      }
    }

    &-userarea-btns{
      display: none;

      @include BootstrapMaxWidthResponsive(lg){
        display: block;
        padding: 15px;
        border-top: 1px solid darken($site-clr-grylight, 5%);
        position: relative;
        z-index: 1;
      }
    }

    &-logoarea{
      display: none;
      padding: 15px;
      border-bottom: 1px solid darken($site-clr-grylight, 5%);
      position: relative;
      z-index: 1;

      .headlogo{
        @extend %extlogosvg;
      }
    }

    .daphne-navbar{
      @include BootstrapMaxWidthResponsive(lg){
        &::after{
          content: "";
          background-image: url(#{$path-img-url}/header/headchartmountains.svg);
          background-repeat: repeat-x;
          background-position: bottom 0 left 50%;
          background-size: 2000% auto;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          @include animation-multi(HeadNavChartMountains 160s linear infinite);

          @include keyframes(HeadNavChartMountains){
            0%  {background-position-x: 0%;}
            to  {background-position-x: 200%;}
          }
        }
      }
    }

    .daphne-nav{
      @include BootstrapMaxWidthResponsive(lg){
        position: relative;
        z-index: 1;
      }
    }
  }

  &-userarea{

    @include BootstrapMinWidthResponsive(xl){
      @include flexbox-flex-order(4);
    }

    &-btns{
      text-align: right;

      > .btn{
        line-height: 1.4;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  &.headscroll{
    background-color: $var-custom-body-bg;
    padding: 30px 0;
    @include box-shadow(0 0 50px 0 #e3e9f2);

    @include BootstrapMaxWidthResponsive(hd){
      padding: 25px 0;
    }
    @include BootstrapMaxWidthResponsive(xl){
      padding: 20px 0;
    }

    #{$headerclassname}-logoarea{
      .headlogo{
        &::before{
          opacity: 0.5;
        }
      }
    }
  }

  + .noheadtitle{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTIwLjAwMSIgaGVpZ2h0PSIyNjQuNTQxIiB2aWV3Qm94PSIwIDAgMTkyMC4wMDEgMjY0LjU0MSI+DQogIDxwYXRoIGlkPSJQYXRoXzExNjExIiBkYXRhLW5hbWU9IlBhdGggMTE2MTEiIGQ9Ik0tMTQ2MC40MDksMjAwMC45MTljMzI0LjA1My0xMS40NTgsNDYxLjEsODMuMDkyLDY1MS4xNTksODMuMDkyLDE0NC43MTcsMCwyNzIuMjI5LTcxLjQ3MSw0MTMuNDc2LTcyLjE0MywxNTQuODQ4LS43MzcsMjYwLjg1LDgzLjMzNSwzOTguNzM4LDc3LjgxNCwxOTEuOTM2LTcuNjgzLDIzOC43LTcwLjM4Miw0NTYuNjI4LTcwLjkyN1YxODI1LjRoLTE5MjBaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNDYwLjQwOSAtMTgyNS40MDMpIiBmaWxsPSIjZjZmOWZmIi8+DQo8L3N2Zz4NCg==");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top -50px center;
    padding-top: 160px;

    @include BootstrapMaxWidthResponsive(1k){
      padding-top: 140px;
    }
    @include BootstrapMaxWidthResponsive(hd){
      padding-top: 120px;
    }
    @include BootstrapMaxWidthResponsive(xl){
      background-size: 150%;
      padding-top: 140px;
    }
    @include BootstrapMaxWidthResponsive(lg){
      background-size: 125%;
      padding-top: 70px;
    }
  }
}

.daphne-moverlay{
  .header-menubtn{
    &::after{
      display: none;
    }
  }

  .header-logoarea{
    opacity: 0;
  }
  .header-navarea-logoarea{
    display: block;
  }
}